body{
    background-image: url("nytbs.png");
    padding-top: 30px;
}

#submitButton {
    margin-top: 50px;
}

.form {
    margin-top: 50px; 
}

label {
    color: #335c67;
    font-size: medium;
}

h3{
    color: #335c67;
    font-family: Georgia, 'Times New Roman', Times, serif;
}